:root {
    color-scheme: light dark;
    font-family: Helvetica, sans-serif;
    line-height: 1.5rem;
}

body {
    color: light-dark(black, white);
    padding: 0rem 3rem;
    background: light-dark(white, black);
    display: flex;
    justify-content: center;
    transform: translateY(25vh);
    text-transform: uppercase;
}

main {
    display: inline-block;
}

ul {
    padding: 0;
}

li {
    margin: 0.125rem 0rem;
    list-style: none;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: light-dark(black, white);
}

#projects {
    margin: 3rem 0rem;
}

#socials {
    margin: 3rem 0rem;
}

#about {
    font-size: 1.5rem;
}
