:root {
    color-scheme: light dark;
}

body {
    color: light-dark(black, white);
    background: light-dark(white, black);
    display: flex;
    justify-content: center;
}

main {
    display: inline-block;
}
